@page
@model Spider_QAMS.Pages.Account.EditSettingsModel
@{
    ViewData["Title"] = "Edit Settings";
    TempData["NavigationalPageName"] = "Edit Settings";
}
<div class="row d-flex justify-content-center align-content-center align-items-center">
    <div class="col-md-8">
        <form method="post" enctype="multipart/form-data">
            <input type="hidden" asp-for="SettingsData.SettingUserId" readonly />
            <div class="card card-profile">
                <div class="card-avatar position-relative d-inline-block">
                    <a href="@Model.UserProfilePathUrl" target="_blank">
                        <img id="profilePicturePreview" src="@Model.UserProfilePathUrl" class="img" alt="Profile Picture" />
                    </a>
                    <!-- Button for uploading a new image -->
                    <button id="uploadProfilePictureBtn" class="btn btn-primary btn-round btn-fab position-absolute" style="bottom: 5px; right: 5px;" data-toggle="tooltip" title="Upload New Image">
                        <i class="material-icons">camera_alt</i>
                    </button>
                    <!-- Button for resetting to the original profile picture -->
                    <button id="resetProfilePictureBtn" class="btn btn-warning btn-round btn-fab position-absolute" style="bottom: 5px; left: 5px;" data-toggle="tooltip" title="Reset to Original">
                        <i class="material-icons">restore</i>
                    </button>
                    <!-- Hidden file input for uploading the profile picture -->
                    <input asp-for="SettingsData.SettingPhotoFile" type="file" id="fileInput" style="display: none;" accept="image/*">
                </div>


                <div class="card-body">
                    <h4 class="card-title">@Model.SettingsData.SettingFullName</h4>
                    <p class="card-description">
                        @Model.SettingsData.SettingEmailID (@Model.SettingsData.SettingUserName)
                    </p>

                    <!-- Validation Summary -->
                    <div asp-validation-summary="All" class="text-danger fw-bold"></div>

                    <div class="row">
                        <label class="col-sm-2 col-form-label" asp-for="SettingsData.SettingUserName"></label>
                        <div class="col-sm-10">
                            <div class="form-group">
                                <input type="text" class="form-control" asp-for="SettingsData.SettingUserName" placeholder="Username here...">
                            </div>
                            <span asp-validation-for="SettingsData.SettingUserName" class="text-danger fw-bold"></span>
                        </div>
                    </div>

                    <div class="row">
                        <label class="col-sm-2 col-form-label" asp-for="SettingsData.SettingFullName"></label>
                        <div class="col-sm-10">
                            <div class="form-group">
                                <input type="text" class="form-control" asp-for="SettingsData.SettingFullName" placeholder="Full Name here...">
                            </div>
                            <span asp-validation-for="SettingsData.SettingFullName" class="text-danger fw-bold"></span>
                        </div>
                    </div>

                    <div class="row">
                        <label class="col-sm-2 col-form-label" asp-for="SettingsData.SettingEmailID"></label>
                        <div class="col-sm-10">
                            <div class="form-group">
                                <div class="alert alert-warning position-absolute" id="emailChangeMessage" style="display:none; bottom:100%; left:0; margin-bottom:5px; z-index:10;">
                                    <strong>Notice:</strong> Changing email will log you out. You will need to log in with new email provided here then.
                                </div>
                                <input type="text" class="form-control" asp-for="SettingsData.SettingEmailID" placeholder="Email here..." id="emailInput">
                            </div>
                            <span asp-validation-for="SettingsData.SettingEmailID" class="text-danger fw-bold"></span>
                        </div>
                    </div>

                    <div class="row">
                        <label class="col-sm-2 col-form-label" asp-for="SettingsData.Password"></label>
                        <div class="col-sm-10">
                            <div class="form-group">
                                <input type="password" class="form-control" asp-for="SettingsData.Password" placeholder="Password here...">
                            </div>
                            <span asp-validation-for="SettingsData.Password" class="text-danger fw-bold"></span>
                        </div>
                    </div>

                    <div class="row">
                        <label class="col-sm-2 col-form-label" asp-for="SettingsData.ReTypePassword">Confirm Password</label>
                        <div class="col-sm-10">
                            <div class="form-group">
                                <input type="password" class="form-control" asp-for="SettingsData.ReTypePassword" placeholder="Confirm Password here...">
                            </div>
                            <span asp-validation-for="SettingsData.Password" class="text-danger fw-bold"></span>
                        </div>
                    </div>

                    <div class="row-cols-auto">
                        <button type="submit" class="btn btn-success pull-center"><i class="material-icons">drive_file_rename_outline</i> Update Settings</button>
                        <a type="button" class="btn btn-info pull-center" asp-page="/Dashboard"><i class="material-icons">assignment_return</i> Back to Dashboard</a>
                    </div>
                    
                    <div class="clearfix"></div>
                </div>
            </div>
        </form>
    </div>
</div>


@section scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        $(document).ready(function () {
            const oldURL = @Html.Raw(Json.Serialize(Model.UserProfilePathUrl));

            const emailInput = $("#emailInput");
            const msgDiv = $("#emailChangeMessage");

            if (emailInput.length && msgDiv.length){
                emailInput.on("focus", function () {
                    msgDiv.show();
                });

                emailInput.on("blur", function () {
                    msgDiv.hide();
                })
            }

            // Initialize tooltips for the buttons
            $('[data-toggle="tooltip"]').tooltip();

            // When the upload button is clicked, trigger the file input
            $("#uploadProfilePictureBtn").on("click", function (event) {
                event.preventDefault(); 
                $("#fileInput").click(); 
            });

            // When a new file is selected, preview it as the profile picture
            $("#fileInput").on("change", function (event) {
                var reader = new FileReader();
                reader.onload = function () {
                    $("#profilePicturePreview").attr("src", reader.result);
                };
                reader.readAsDataURL(event.target.files[0]);
            });

            $("#resetProfilePictureBtn").on("click", function (event) {
                event.preventDefault(); // Prevent form submission on button click
                $("#profilePicturePreview").attr("src", oldURL); // Reset the image to the original URL
            });
        });
    </script>
}
