@page
@model Spider_QAMS.Pages.Users.DeleteUserModel
@{
    ViewData["Title"] = "Delete User";
    TempData["NavigationalPageName"] = "Delete User";
}

<div class="col-md-8 col-12 mr-auto ml-auto">
    <div class="wizard-container">
        <div class="card card-wizard" data-color="rose">
            <form method="post" enctype="multipart/form-data" id="deleteUserForm">
                <input type="hidden" asp-for="ProfileUsersData.UserId" readonly />
                <div class="card-header text-center">
                    <h3 class="card-title">
                        Delete Existing User
                    </h3>
                    <h5 class="card-description">
                    </h5>
                </div>
                <div class="wizard-navigation">
                    <ul class="nav nav-pills">
                        <li class="nav-item">
                            <a class="nav-link active" href="#about" data-toggle="tab" role="tab">
                                About
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#account" data-toggle="tab" role="tab">
                                Account
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#userProfile" data-toggle="tab" role="tab">
                                Profile
                            </a>
                        </li>
                    </ul>
                    <br />
                    <!-- Validation Summary -->
                    <div asp-validation-summary="All" class="text-danger fw-bold"></div>
                </div>
                <div class="card-body">
                    <div class="tab-content">
                        <div class="tab-pane active" id="about">
                            <h5 class="info-text"></h5>
                            <div class="row justify-content-center">
                                <div class="col-sm-4">
                                    <div class="picture-container">
                                        <div class="picture">
                                            <img src="@Model.UserProfilePathUrl" class="picture-src" id="wizardPicturePreview" title="" />
                                            <input type="file" id="wizard-picture" asp-for="ProfileUsersData.PhotoFile" disabled>
                                        </div>
                                        <h6 class="description">Choose Picture</h6>
                                        <span asp-validation-for="ProfileUsersData.PhotoFile" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="input-group form-control-lg">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="material-icons">face</i>
                                            </span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="ProfileUsersData.Designation" class="bmd-label-floating">Designation (required)</label>
                                            <input type="text" class="form-control" asp-for="ProfileUsersData.Designation" disabled>
                                            <span asp-validation-for="ProfileUsersData.Designation" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="input-group form-control-lg">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="material-icons">record_voice_over</i>
                                            </span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="ProfileUsersData.FullName" class="bmd-label-floating">Full Name (required)</label>
                                            <input type="text" class="form-control" asp-for="ProfileUsersData.FullName" disabled>
                                            <span asp-validation-for="ProfileUsersData.FullName" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-10 mt-3">
                                    <div class="input-group form-control-lg">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="material-icons">email</i>
                                            </span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="ProfileUsersData.EmailID" class="bmd-label-floating">Email (required)</label>
                                            <input type="email" class="form-control" asp-for="ProfileUsersData.EmailID" disabled>
                                            <span asp-validation-for="ProfileUsersData.EmailID" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="account">
                            <div class="row justify-content-center">
                                <div class="col-sm-12">
                                    <h5 class="info-text"></h5>
                                </div>
                                <div class="col-sm-11">
                                    <div class="form-group">
                                        <label asp-for="ProfileUsersData.UserName">User Name(required)</label>
                                        <input type="text" class="form-control" asp-for="ProfileUsersData.UserName" disabled>
                                        <span asp-validation-for="ProfileUsersData.UserName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-11">
                                    <div class="form-group">
                                        <label asp-for="ProfileUsersData.PhoneNumber">Phone Number(required)</label>
                                        <input type="tel" class="form-control" asp-for="ProfileUsersData.PhoneNumber" disabled>
                                        <span asp-validation-for="ProfileUsersData.PhoneNumber" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="userProfile">
                            <div class="row justify-content-center">
                                <div class="col-lg-10">
                                    <div class="row">
                                        <div class="col-6">
                                            <div>
                                                <label asp-for="ProfileUsersData.ProfileSiteData.ProfileName">Profile</label>
                                                <select asp-for="ProfileUsersData.ProfileSiteData.ProfileName" id="profileSelect" class="selectpicker" data-size="5" data-style="btn btn-primary btn-round" title="Select Profile">
                                                    <option value="@Model.ProfileUsersData.ProfileSiteData.ProfileName" data-profileid="@Model.ProfileUsersData.ProfileSiteData.ProfileId" selected>@Model.ProfileUsersData.ProfileSiteData.ProfileName</option>
                                                </select>
                                                <span asp-validation-for="ProfileUsersData.ProfileSiteData.ProfileName" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Hidden fields Profile Id -->
                                    <input type="hidden" asp-for="ProfileUsersData.ProfileSiteData.ProfileId" id="profileIdHidden" />

                                    <br />
                                    <br />
                                    <h5 class="info-text">Select the applicable options for the user status:</h5>

                                    <div class="row">
                                        <div class="col">
                                            <div class="choice @(Model.ProfileUsersData.IsActive ? "active" : "")" data-toggle="wizard-checkbox">
                                                <input type="checkbox" asp-for="ProfileUsersData.IsActive" disabled />
                                                <div class="icon">
                                                    <i class="material-icons">account_circle</i>
                                                </div>
                                                <h6>Active User</h6>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="choice @(Model.ProfileUsersData.IsADUser ? "active" : "")" data-toggle="wizard-checkbox">
                                                <input type="checkbox" asp-for="ProfileUsersData.IsADUser" disabled />
                                                <div class="icon">
                                                    <i class="material-icons">cloud_done</i>
                                                </div>
                                                <h6>Active Directory User</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="mr-auto">
                        <button type="button" class="btn btn-previous btn-fill btn-default btn-wd disabled" name="previous"><i class="material-icons">chevron_left</i> Previous</button>
                    </div>
                    <div class="text-center">
                        <a asp-page="/Users/ManageUsers" type="button" class="btn btn-fill btn-info btn-wd"> <i class="material-icons">assignment_return</i> Back to All Users</a>
                    </div>
                    <div class="ml-auto">
                        <button type="button" class="btn btn-next btn-fill btn-rose btn-wd" name="next">Next <i class="material-icons">chevron_right</i></button>
                        <button type="submit" class="btn btn-finish btn-fill btn-danger btn-wd" style="display: none;"><i class="material-icons">delete_outline</i> Confirm Delete</button>
                    </div>
                    <div class="clearfix">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        $(document).ready(function () {
            $('.selectpicker').selectpicker(); // Initialize selectpicker for all elements with `selectpicker` class

            // Add onchange event to #profileSelect
            $('#profileSelect').on('change', function () {
                // Get the selected profile ID
                var selectedProfileId = $(this).find('option:selected').attr('data-profileid');

                // Set the hidden fields with ProfileId
                $('#profileIdHidden').val(selectedProfileId); // Set ProfileName to selected profile id
            });

            // Initialise the wizard
            spider_qams_ui.initMaterialWizard();
            setTimeout(function () {
                $('.card.card-wizard').addClass('active');
            }, 600);
        });
    </script>
}
