@page
@model Spider_QAMS.Pages.EditSiteDetailsModel
@{
    ViewData["Title"] = "Edit Site";
    TempData["NavigationalPageName"] = "Edit Site";
}

<head>
    <link rel="stylesheet" href="~/plugins/leaflet/leaflet.css" asp-append-version="true" />
</head>

<form id="editSiteForm" enctype="multipart/form-data" method="post">
    <input type="hidden" asp-for="SiteDetailVM.SiteID" id="editSiteId" />
    <ul class="timeline timeline-simple">
        <li class="timeline-inverted">
            <div class="timeline-badge danger">
                <i class="material-icons">my_location</i>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <span class="badge badge-pill badge-danger">Site Details *</span>
                </div>
                <div class="timeline-body">
                    <div class="row">
                        <div class="col">
                            <div class="card">
                                <div class="card-header card-header-rose card-header-icon">
                                    <div class="card-icon">
                                        <i class="material-icons">pin_drop</i>
                                    </div>
                                    <h4 class="card-title fw-bold">Update Existing Site</h4>
                                </div>
                                <div class="card-body">
                                    <!-- Validation Summary -->
                                    <div asp-validation-summary="All" class="text-danger fw-bold"></div>

                                    <div class="row">
                                        <!-- First Column -->
                                        <div class="col">
                                            <div class="row">
                                                <label class="col-sm-2 col-form-label" asp-for="SiteDetailVM.SiteCode"></label>
                                                <div class="col-sm-10">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" asp-for="SiteDetailVM.SiteCode" placeholder="Site Code here...">
                                                    </div>
                                                    <span asp-validation-for="SiteDetailVM.SiteCode" class="text-danger fw-bold"></span>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <label class="col-sm-2 col-form-label" asp-for="SiteDetailVM.SiteName"></label>
                                                <div class="col-sm-10">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" asp-for="SiteDetailVM.SiteName" placeholder="Site Name here...">
                                                    </div>
                                                    <span asp-validation-for="SiteDetailVM.SiteName" class="text-danger fw-bold"></span>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <label class="col-sm-2 col-form-label" asp-for="SiteDetailVM.SiteCategory"></label>
                                                <div class="col-sm-10">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" asp-for="SiteDetailVM.SiteCategory" placeholder="Site Category here..." id="siteCategorySelect">
                                                    </div>
                                                    <span asp-validation-for="SiteDetailVM.SiteCategory" class="text-danger fw-bold"></span>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <label class="col-sm-2 col-form-label" asp-for="SiteDetailVM.SponsorID"></label>
                                                <div class="col-sm-10">
                                                    <div class="form-group">
                                                        <select id="sponsorSelect" asp-for="SiteDetailVM.SponsorID" data-size="5" class="selectpicker" data-style="btn btn-primary btn-round" title="Choose Sponsor" required>
                                                            @if (!string.IsNullOrEmpty(Model.SiteDetailVM.SponsorName))
                                                            {
                                                                <option value="@Model.SiteDetailVM.SponsorID">@Model.SiteDetailVM.SponsorName</option>
                                                            }
                                                            else
                                                            {
                                                                <option value="" disabled>Select Sponsor</option>
                                                            }
                                                        </select>
                                                    </div>
                                                    <span asp-validation-for="SiteDetailVM.SponsorID" class="text-danger fw-bold"></span>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <label class="col-sm-2 col-form-label" asp-for="SiteDetailVM.SiteTypeID"></label>
                                                <div class="col-sm-10">
                                                    <div class="form-group">
                                                        <select id="siteTypeSelect" asp-for="SiteDetailVM.SiteTypeID" data-size="5" class="selectpicker" data-style="btn btn-info btn-round" title="Choose Site Type" required>
                                                            @if (!string.IsNullOrEmpty(Model.SiteDetailVM.SiteTypeDescription))
                                                            {
                                                                <option value="@Model.SiteDetailVM.SiteTypeID">@Model.SiteDetailVM.SiteTypeDescription</option>
                                                            }
                                                            else
                                                            {
                                                                <option value="" disabled>Select Site Type</option>
                                                            }
                                                        </select>
                                                    </div>
                                                    <span asp-validation-for="SiteDetailVM.SiteTypeID" class="text-danger fw-bold"></span>
                                                </div>
                                            </div>

                                            <div class="row" id="branchTypeDiv">
                                                <label class="col-sm-2 col-form-label" asp-for="SiteDetailVM.BranchTypeId" for="branchTypeSelect"></label>
                                                <div class="col-sm-10">
                                                    <div class="form-group">
                                                        <select id="branchTypeSelect" asp-for="SiteDetailVM.BranchTypeId" data-size="5" class="selectpicker" data-style="btn btn-success btn-round" title="Choose Branch Type" required>
                                                            @if (!string.IsNullOrEmpty(Model.SiteDetailVM.BranchTypeDescription))
                                                            {
                                                                <option value="@Model.SiteDetailVM.BranchTypeId">@Model.SiteDetailVM.BranchTypeDescription</option>
                                                            }
                                                            else
                                                            {
                                                                <option value="" disabled>Select Branch Type</option>
                                                            }
                                                        </select>
                                                    </div>
                                                    <span asp-validation-for="SiteDetailVM.BranchTypeId" class="text-danger fw-bold"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Second Column -->
                                        <div class="col">

                                            <div class="row">
                                                <label class="col-sm-2 col-form-label" asp-for="SiteDetailVM.RegionID"></label>
                                                <div class="col-sm-10">
                                                    <div class="form-group">
                                                        <select id="regionSelect" asp-for="SiteDetailVM.RegionID" data-size="5" class="selectpicker" data-style="btn btn-warning btn-round" title="Choose Region" required>
                                                            @if (!string.IsNullOrEmpty(Model.SiteDetailVM.RegionName))
                                                            {
                                                                <option value="@Model.SiteDetailVM.RegionID">@Model.SiteDetailVM.RegionName</option>
                                                            }
                                                            else
                                                            {
                                                                <option value="" disabled>Select Region</option>
                                                            }
                                                        </select>
                                                    </div>
                                                    <span asp-validation-for="SiteDetailVM.RegionID" class="text-danger fw-bold"></span>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <label class="col-sm-2 col-form-label" asp-for="SiteDetailVM.CityID"></label>
                                                <div class="col-sm-10">
                                                    <div class="form-group">
                                                        <select id="citySelect" asp-for="SiteDetailVM.CityID" data-size="5" class="selectpicker" data-style="btn btn-info btn-round" title="Choose City" required>
                                                            @if (!string.IsNullOrEmpty(Model.SiteDetailVM.CityName))
                                                            {
                                                                <option value="@Model.SiteDetailVM.CityID">@Model.SiteDetailVM.CityName</option>
                                                            }
                                                            else
                                                            {
                                                                <option value="" disabled>Select City</option>
                                                            }
                                                        </select>
                                                    </div>
                                                    <span asp-validation-for="SiteDetailVM.CityID" class="text-danger fw-bold"></span>
                                                </div>
                                            </div>

                                            <div class="row mb-3">
                                                <label class="col-sm-2 col-form-label" asp-for="SiteDetailVM.LocationID"></label>
                                                <div class="col-sm-10">
                                                    <div class="form-group">
                                                        <select id="locationSelect" asp-for="SiteDetailVM.LocationID" data-size="5" class="selectpicker" data-style="btn btn-success btn-round" title="Choose Location" required>
                                                            @if (!string.IsNullOrEmpty(Model.SiteDetailVM.LocationName))
                                                            {
                                                                <option value="@Model.SiteDetailVM.LocationID">@Model.SiteDetailVM.LocationName</option>
                                                            }
                                                            else
                                                            {
                                                                <option value="" disabled>Select Location</option>
                                                            }
                                                        </select>
                                                    </div>
                                                    <span asp-validation-for="SiteDetailVM.LocationID" class="text-danger fw-bold"></span>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <label class="col-sm-2 col-form-label" asp-for="SiteDetailVM.GPSLong"></label>
                                                <div class="col-sm-10">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" asp-for="SiteDetailVM.GPSLong" placeholder="GPS Longitude here...">
                                                    </div>
                                                    <span asp-validation-for="SiteDetailVM.GPSLong" class="text-danger fw-bold"></span>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <label class="col-sm-2 col-form-label" asp-for="SiteDetailVM.GPSLatt"></label>
                                                <div class="col-sm-10">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" asp-for="SiteDetailVM.GPSLatt" placeholder="GPS Lattitude here...">
                                                    </div>
                                                    <span asp-validation-for="SiteDetailVM.GPSLatt" class="text-danger fw-bold"></span>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <label class="col-sm-2 col-form-label" asp-for="SiteDetailVM.BranchNo"></label>
                                                <div class="col-sm-10">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" asp-for="SiteDetailVM.BranchNo" placeholder="Branch Number here...">
                                                    </div>
                                                    <span asp-validation-for="SiteDetailVM.BranchNo" class="text-danger fw-bold"></span>
                                                </div>
                                            </div>

                                        </div>
                                        <!-- Third Column -->
                                        <div class="col">
                                            <!-- Full Screen Image Modal -->
                                            @if(!string.IsNullOrEmpty(Model.SiteDetailVM.SitePicturesLst.FirstOrDefault()?.PicPath))
                                            {
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <div class="card card-product">
                                                            <div class="card-header card-header-image" data-header-animation="true">
                                                                <img class="img" src="@Model.SiteDetailVM.SitePicturesLst.FirstOrDefault()?.PicPath" alt="Full Site Profile Image" />
                                                            </div>
                                                            <div class="card-body">
                                                                <h6 class="card-title">
                                                                    <a asp-page="/SiteImageUploader" asp-route-siteId="@Model.SiteDetailVM.SiteID">@Model.SiteDetailVM.SitePicturesLst.FirstOrDefault().Description</a>
                                                                </h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <div class="card card-product">
                                                            <div class="card-header card-header-image" data-header-animation="true">
                                                                <img class="img" src="~/assets/img/default-avatar.png" alt="Full Site Profile Image" />
                                                            </div>
                                                            <div class="card-body">
                                                                <h6 class="card-title">
                                                                    <a asp-page="/SiteImageUploader" asp-route-siteId="@Model.SiteDetailVM.SiteID">Upload Site Profile Picture</a>
                                                                </h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }

                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="card">
                                                        <div class="card-header card-header-text card-header-rose">
                                                            <div class="card-text">
                                                                <h6 class="card-title">GPS Coordinates</h6>
                                                            </div>
                                                        </div>
                                                        <div class="card-body">
                                                            <div class="map mt-1 mb-3" id="mapContainer" style="position: relative; width: 100%; height: 150px; border: 1px solid #ccc;">
                                                                <!-- Map renders here -->
                                                            </div>

                                                            <!-- Full-Screen Map Modal -->
                                                            <div class="modal fade" id="fullMapModal" tabindex="-1" role="dialog" aria-labelledby="fullMapModalLabel" style="display: none;">
                                                                <div class="modal-dialog modal-lg" role="document"
                                                                     style="margin: 10vh auto; max-width: calc(100vw - 20vw); max-height: calc(100vh - 20vh);">
                                                                    <div class="modal-content" style="height: calc(100vh - 4vh); overflow: hidden; padding: 2vh;">
                                                                        <div class="modal-header">
                                                                            <h4 class="modal-title pb-2" id="fullMapModalLabel">Full-Screen Map View</h4>
                                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                                <span aria-hidden="true">&times;</span>
                                                                            </button>
                                                                        </div>
                                                                        <div class="modal-body" id="fullMapContainer"
                                                                             style="width: calc(100vw - 25vw); height: calc(100vh - 4vh); margin: auto; outline: none;">
                                                                            <!-- Leaflet map content will render here -->
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <label class="col-sm-2 col-form-label" asp-for="SiteDetailVM.ContactID"></label>
                                                <div class="col-sm-10">
                                                    <div class="form-group">
                                                        <select id="contactSelect" asp-for="SiteDetailVM.ContactID" data-size="5" class="selectpicker" data-style="btn btn-warning btn-round" title="Choose Contact" required>
                                                            @if (!string.IsNullOrEmpty(Model.SiteDetailVM.ContactName))
                                                            {
                                                                <option value="@Model.SiteDetailVM.ContactID">@Model.SiteDetailVM.ContactName</option>
                                                            }
                                                            else
                                                            {
                                                                <option value="" disabled>Select Contact</option>
                                                            }
                                                        </select>
                                                    </div>
                                                    <span asp-validation-for="SiteDetailVM.ContactID" class="text-danger fw-bold"></span>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <label class="col-sm-2 col-form-label" asp-for="SiteDetailVM.AtmClass"></label>
                                                <div class="col-sm-10">
                                                    <div class="form-group">
                                                        <select id="atmClassSelect" asp-for="SiteDetailVM.AtmClass" data-size="5" class="selectpicker" data-style="btn btn-info btn-round" title="Choose ATM Class">
                                                            <option value="" disabled selected>--Select ATM Class--</option>
                                                            @foreach (var clas in Model.ATMClass)
                                                            {
                                                                <option value="@clas">Class @clas</option>
                                                            }
                                                        </select>
                                                    </div>
                                                    <span asp-validation-for="SiteDetailVM.AtmClass" class="text-danger fw-bold"></span>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer ml-auto mr-auto">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="timeline-inverted">
            <div class="timeline-badge warning">
                <i class="material-icons">map</i>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <span class="badge badge-pill badge-warning">Site Sub-categories</span>
                </div>
                <div class="timeline-body">
                    <div class="row">
                        <div class="col-md-2">
                            <!-- color-classes: "nav-pills-primary", "nav-pills-info", "nav-pills-success", "nav-pills-warning","nav-pills-danger" -->
                            <ul class="nav nav-pills nav-pills-rose nav-pills-icons flex-column" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#contactInformation" role="tablist">
                                        <i class="material-icons">contact_phone</i> Contact <br /> Information
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#geographicalDetails" role="tablist">
                                        <i class="material-icons">explore</i> Geographical <br /> Details
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#branchFacilities" role="tablist">
                                        <i class="material-icons">inventory</i> Branch <br /> Facilities
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#dataCenter" role="tablist">
                                        <i class="material-icons">hub</i> Data <br /> Center
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#signBoard" role="tablist">
                                        <i class="material-icons">flag</i> Sign <br /> Board
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#miscellaneous" role="tablist">
                                        <i class="material-icons">control_camera</i> Miscellaneous
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-10">
                            <div class="tab-content">
                                <div class="tab-pane active" id="contactInformation">
                                    <div class="card">
                                        <div class="card-header">
                                            <div class="card-header card-header-rose card-header-icon">
                                                <div class="card-icon">
                                                    <i class="material-icons">contact_phone</i>
                                                </div>
                                                <h4 class="card-title fw-bold">Contact Information</h4>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <label class="col-sm-2 col-form-label" asp-for="SiteDetailVM.SiteContactInformation.BranchTelephoneNumber"></label>
                                                        <div class="col-sm-10">
                                                            <div class="form-group">
                                                                <input type="text" class="form-control" asp-for="SiteDetailVM.SiteContactInformation.BranchTelephoneNumber" placeholder="Branch Telephone Number here...">
                                                            </div>
                                                            <span asp-validation-for="SiteDetailVM.SiteContactInformation.BranchTelephoneNumber" class="text-danger fw-bold"></span>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <label class="col-sm-2 col-form-label" asp-for="SiteDetailVM.SiteContactInformation.BranchFaxNumber"></label>
                                                        <div class="col-sm-10">
                                                            <div class="form-group">
                                                                <input type="text" class="form-control" asp-for="SiteDetailVM.SiteContactInformation.BranchFaxNumber" placeholder="Branch Fax Number here...">
                                                            </div>
                                                            <span asp-validation-for="SiteDetailVM.SiteContactInformation.BranchFaxNumber" class="text-danger fw-bold"></span>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <label class="col-sm-2 col-form-label" asp-for="SiteDetailVM.SiteContactInformation.EmailAddress"></label>
                                                        <div class="col-sm-10">
                                                            <div class="form-group">
                                                                <input type="text" class="form-control" asp-for="SiteDetailVM.SiteContactInformation.EmailAddress" placeholder="Email Address here...">
                                                            </div>
                                                            <span asp-validation-for="SiteDetailVM.SiteContactInformation.EmailAddress" class="text-danger fw-bold"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="geographicalDetails">
                                    <div class="card">
                                        <div class="card-header">
                                            <div class="card-header card-header-rose card-header-icon">
                                                <div class="card-icon">
                                                    <i class="material-icons">explore</i>
                                                </div>
                                                <h4 class="card-title fw-bold">Geographical Details</h4>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <label class="col-sm-2 col-form-label" asp-for="SiteDetailVM.GeographicalDetails.NearestLandmark"></label>
                                                        <div class="col-sm-10">
                                                            <div class="form-group">
                                                                <input type="text" class="form-control" asp-for="SiteDetailVM.GeographicalDetails.NearestLandmark" placeholder="Nearest Landmark here...">
                                                            </div>
                                                            <span asp-validation-for="SiteDetailVM.GeographicalDetails.NearestLandmark" class="text-danger fw-bold"></span>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <label class="col-sm-2 col-form-label" asp-for="SiteDetailVM.GeographicalDetails.NumberOfKmNearestCity"></label>
                                                        <div class="col-sm-10">
                                                            <div class="form-group">
                                                                <input type="text" class="form-control" asp-for="SiteDetailVM.GeographicalDetails.NumberOfKmNearestCity" placeholder="Km to Nearest City here...">
                                                            </div>
                                                            <span asp-validation-for="SiteDetailVM.GeographicalDetails.NumberOfKmNearestCity" class="text-danger fw-bold"></span>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <label class="col-sm-2 col-form-label" asp-for="SiteDetailVM.GeographicalDetails.BranchConstructionType"></label>
                                                        <div class="col-sm-10">
                                                            <div class="form-group">
                                                                <input type="text" class="form-control" asp-for="SiteDetailVM.GeographicalDetails.BranchConstructionType" placeholder="Branch Construction Type here...">
                                                            </div>
                                                            <span asp-validation-for="SiteDetailVM.GeographicalDetails.BranchConstructionType" class="text-danger fw-bold"></span>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="form-check form-check-inline">
                                                            <label class="form-check-label">
                                                                <input class="form-check-input" type="checkbox" asp-for="SiteDetailVM.GeographicalDetails.SiteIsOnServiceRoad">
                                                                <label asp-for="SiteDetailVM.GeographicalDetails.SiteIsOnServiceRoad"></label>
                                                                <span class="form-check-sign">
                                                                    <span class="check"></span>
                                                                </span>
                                                            </label>
                                                        </div>
                                                        <span asp-validation-for="SiteDetailVM.GeographicalDetails.SiteIsOnServiceRoad" class="text-danger fw-bold"></span>
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <label class="col-sm-2 col-form-label" asp-for="SiteDetailVM.GeographicalDetails.BranchIsLocatedAt"></label>
                                                        <div class="col-sm-10">
                                                            <div class="form-group">
                                                                <input type="text" class="form-control" asp-for="SiteDetailVM.GeographicalDetails.BranchIsLocatedAt" placeholder="Branch Is Located At here...">
                                                            </div>
                                                            <span asp-validation-for="SiteDetailVM.GeographicalDetails.BranchIsLocatedAt" class="text-danger fw-bold"></span>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <label class="col-sm-2 col-form-label" asp-for="SiteDetailVM.GeographicalDetails.HowToReachThere"></label>
                                                        <div class="col-sm-10">
                                                            <div class="form-group">
                                                                <textarea asp-for="SiteDetailVM.GeographicalDetails.HowToReachThere" class="form-control" placeholder="How To Reach There here..."></textarea>
                                                            </div>
                                                            <span asp-validation-for="SiteDetailVM.GeographicalDetails.HowToReachThere" class="text-danger fw-bold"></span>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <label class="col-sm-2 col-form-label" asp-for="SiteDetailVM.GeographicalDetails.HowToGetThere"></label>
                                                        <div class="col-sm-10">
                                                            <div class="form-group">
                                                                <textarea asp-for="SiteDetailVM.GeographicalDetails.HowToGetThere" class="form-control" placeholder="How To Get There here..."></textarea>
                                                            </div>
                                                            <span asp-validation-for="SiteDetailVM.GeographicalDetails.HowToGetThere" class="text-danger fw-bold"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="branchFacilities">
                                    <div class="card">
                                        <div class="card-header">
                                            <div class="card-header card-header-rose card-header-icon">
                                                <div class="card-icon">
                                                    <i class="material-icons">inventory</i>
                                                </div>
                                                <h4 class="card-title fw-bold">Branch Facilities</h4>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-6">

                                                    <div class="row">
                                                        <div class="form-check form-check-inline">
                                                            <label class="form-check-label">
                                                                <input class="form-check-input" type="checkbox" asp-for="SiteDetailVM.SiteBranchFacilities.Parking">
                                                                <label asp-for="SiteDetailVM.SiteBranchFacilities.Parking">Parking Available</label>
                                                                <span class="form-check-sign">
                                                                    <span class="check"></span>
                                                                </span>
                                                            </label>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="form-check form-check-inline">
                                                            <label class="form-check-label">
                                                                <input class="form-check-input" type="checkbox" asp-for="SiteDetailVM.SiteBranchFacilities.Landscape">
                                                                <label asp-for="SiteDetailVM.SiteBranchFacilities.Landscape">Landscape Available</label>
                                                                <span class="form-check-sign">
                                                                    <span class="check"></span>
                                                                </span>
                                                            </label>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="form-check form-check-inline">
                                                            <label class="form-check-label">
                                                                <input class="form-check-input" type="checkbox" asp-for="SiteDetailVM.SiteBranchFacilities.Elevator">
                                                                <label asp-for="SiteDetailVM.SiteBranchFacilities.Elevator">Elevator Available</label>
                                                                <span class="form-check-sign">
                                                                    <span class="check"></span>
                                                                </span>
                                                            </label>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="form-check form-check-inline">
                                                            <label class="form-check-label">
                                                                <input class="form-check-input" type="checkbox" asp-for="SiteDetailVM.SiteBranchFacilities.VIPSection">
                                                                <label asp-for="SiteDetailVM.SiteBranchFacilities.VIPSection">VIP Section Available</label>
                                                                <span class="form-check-sign">
                                                                    <span class="check"></span>
                                                                </span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <div class="form-check form-check-inline">
                                                            <label class="form-check-label">
                                                                <input class="form-check-input" type="checkbox" asp-for="SiteDetailVM.SiteBranchFacilities.SafeBox">
                                                                <label asp-for="SiteDetailVM.SiteBranchFacilities.SafeBox">Safe Box Available</label>
                                                                <span class="form-check-sign">
                                                                    <span class="check"></span>
                                                                </span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="form-check form-check-inline">
                                                            <label class="form-check-label">
                                                                <input class="form-check-input" type="checkbox" asp-for="SiteDetailVM.SiteBranchFacilities.ICAP">
                                                                <label asp-for="SiteDetailVM.SiteBranchFacilities.ICAP">ICAP Available</label>
                                                                <span class="form-check-sign">
                                                                    <span class="check"></span>
                                                                </span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="dataCenter">
                                    <div class="card">
                                        <div class="card-header">
                                            <div class="card-header card-header-rose card-header-icon">
                                                <div class="card-icon">
                                                    <i class="material-icons">hub</i>
                                                </div>
                                                <h4 class="card-title fw-bold">Data Center</h4>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <label class="col-sm-2 col-form-label" asp-for="SiteDetailVM.SiteDataCenter.UPSBrand"></label>
                                                        <div class="col-sm-10">
                                                            <div class="form-group">
                                                                <input type="text" class="form-control" asp-for="SiteDetailVM.SiteDataCenter.UPSBrand" placeholder="UPS Branch here...">
                                                            </div>
                                                            <span asp-validation-for="SiteDetailVM.SiteDataCenter.UPSBrand" class="text-danger fw-bold"></span>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <label class="col-sm-2 col-form-label" asp-for="SiteDetailVM.SiteDataCenter.UPSCapacity"></label>
                                                        <div class="col-sm-10">
                                                            <div class="form-group">
                                                                <input type="text" class="form-control" asp-for="SiteDetailVM.SiteDataCenter.UPSCapacity" placeholder="UPS Capacity here...">
                                                            </div>
                                                            <span asp-validation-for="SiteDetailVM.SiteDataCenter.UPSCapacity" class="text-danger fw-bold"></span>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <label class="col-sm-2 col-form-label" asp-for="SiteDetailVM.SiteDataCenter.PABXBrand"></label>
                                                        <div class="col-sm-10">
                                                            <div class="form-group">
                                                                <input type="text" class="form-control" asp-for="SiteDetailVM.SiteDataCenter.PABXBrand" placeholder="PABX Brand here...">
                                                            </div>
                                                            <span asp-validation-for="SiteDetailVM.SiteDataCenter.PABXBrand" class="text-danger fw-bold"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <label class="col-sm-2 col-form-label" asp-for="SiteDetailVM.SiteDataCenter.StabilizerBrand"></label>
                                                        <div class="col-sm-10">
                                                            <div class="form-group">
                                                                <input type="text" class="form-control" asp-for="SiteDetailVM.SiteDataCenter.StabilizerBrand" placeholder="Stabilizer Brand here...">
                                                            </div>
                                                            <span asp-validation-for="SiteDetailVM.SiteDataCenter.StabilizerBrand" class="text-danger fw-bold"></span>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <label class="col-sm-2 col-form-label" asp-for="SiteDetailVM.SiteDataCenter.StabilizerCapacity"></label>
                                                        <div class="col-sm-10">
                                                            <div class="form-group">
                                                                <input type="text" class="form-control" asp-for="SiteDetailVM.SiteDataCenter.StabilizerCapacity" placeholder="Stabilizer Capacity here...">
                                                            </div>
                                                            <span asp-validation-for="SiteDetailVM.SiteDataCenter.StabilizerCapacity" class="text-danger fw-bold"></span>
                                                        </div>
                                                    </div>
                                                    <div class="mb-3">
                                                        <div class="row">
                                                            <label class="col-sm-2 col-form-label" asp-for="SiteDetailVM.SiteDataCenter.SecurityAccessSystemBrand"></label>
                                                            <div class="col-sm-10">
                                                                <div class="form-group">
                                                                    <input type="text" class="form-control" asp-for="SiteDetailVM.SiteDataCenter.SecurityAccessSystemBrand" placeholder="Security Access System Brand here...">
                                                                </div>
                                                                <span asp-validation-for="SiteDetailVM.SiteDataCenter.SecurityAccessSystemBrand" class="text-danger fw-bold"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="signBoard">
                                    <div class="card">
                                        <div class="card-header">
                                            <div class="card-header card-header-rose card-header-icon">
                                                <div class="card-icon">
                                                    <i class="material-icons">flag</i>
                                                </div>
                                                <h4 class="card-title fw-bold">Sign Board</h4>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <h5 class="mx-2 mb-3">Type Of Sign Board</h5>
                                                    <div class="row">
                                                        <div class="form-check form-check-inline">
                                                            <label class="form-check-label">
                                                                <input class="form-check-input" type="checkbox" asp-for="SiteDetailVM.SignBoardType.Cylinder">
                                                                <label asp-for="SiteDetailVM.SignBoardType.Cylinder">Cylinder</label>
                                                                <span class="form-check-sign">
                                                                    <span class="check"></span>
                                                                </span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="form-check form-check-inline">
                                                            <label class="form-check-label">
                                                                <input class="form-check-input" type="checkbox" asp-for="SiteDetailVM.SignBoardType.StraightOrTotem">
                                                                <label asp-for="SiteDetailVM.SignBoardType.StraightOrTotem">Straight or Totem</label>
                                                                <span class="form-check-sign">
                                                                    <span class="check"></span>
                                                                </span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="miscellaneous">
                                    <div class="card">
                                        <div class="card-header">
                                            <div class="card-header card-header-rose card-header-icon">
                                                <div class="card-icon">
                                                    <i class="material-icons">control_camera</i>
                                                </div>
                                                <h4 class="card-title fw-bold">Miscellaneous</h4>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <h5 class="mb-3 text-center text-decoration-underline">Site Miscellaneous Information</h5>
                                            <div class="row">
                                                <!-- First Column -->
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <label class="col-sm-3 col-form-label" asp-for="SiteDetailVM.SiteMiscInformation.TypeOfATMLocation"></label>
                                                        <div class="col-sm-9">
                                                            <div class="form-group">
                                                                <input type="text" class="form-control" asp-for="SiteDetailVM.SiteMiscInformation.TypeOfATMLocation" placeholder="Type Of ATM Location here...">
                                                            </div>
                                                            <span asp-validation-for="SiteDetailVM.SiteMiscInformation.TypeOfATMLocation" class="text-danger fw-bold"></span>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <label class="col-sm-3 col-form-label" asp-for="SiteDetailVM.SiteMiscInformation.TrackingSystem"></label>
                                                        <div class="col-sm-9">
                                                            <div class="form-group">
                                                                <input type="text" class="form-control" asp-for="SiteDetailVM.SiteMiscInformation.TrackingSystem" placeholder="Tracking System here...">
                                                            </div>
                                                            <span asp-validation-for="SiteDetailVM.SiteMiscInformation.TrackingSystem" class="text-danger fw-bold"></span>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!-- Second Column -->
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <label class="col-sm-3 col-form-label" asp-for="SiteDetailVM.SiteMiscInformation.NoOfExternalCameras"></label>
                                                        <div class="col-sm-9">
                                                            <div class="form-group">
                                                                <input type="number" class="form-control" asp-for="SiteDetailVM.SiteMiscInformation.NoOfExternalCameras" placeholder="Number of External Cameras here...">
                                                            </div>
                                                            <span asp-validation-for="SiteDetailVM.SiteMiscInformation.NoOfExternalCameras" class="text-danger fw-bold"></span>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <label class="col-sm-3 col-form-label" asp-for="SiteDetailVM.SiteMiscInformation.NoOfInternalCameras"></label>
                                                        <div class="col-sm-9">
                                                            <div class="form-group">
                                                                <input type="number" class="form-control" asp-for="SiteDetailVM.SiteMiscInformation.NoOfInternalCameras" placeholder="Number of Internal Cameras here...">
                                                            </div>
                                                            <span asp-validation-for="SiteDetailVM.SiteMiscInformation.NoOfInternalCameras" class="text-danger fw-bold"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <hr />
                                            <h5 class="mb-3 text-center text-decoration-underline">Branch Miscellaneous Information</h5>
                                            <div class="row">
                                                <!-- First Column -->
                                                <div class="col-md-4">
                                                    <div class="row">
                                                        <label class="col-sm-4 col-form-label" asp-for="SiteDetailVM.BranchMiscInformation.NoOfCleaners"></label>
                                                        <div class="col-sm-8">
                                                            <div class="form-group">
                                                                <input type="number" class="form-control" asp-for="SiteDetailVM.BranchMiscInformation.NoOfCleaners" placeholder="Number of Cleaners here...">
                                                            </div>
                                                            <span asp-validation-for="SiteDetailVM.BranchMiscInformation.NoOfCleaners" class="text-danger fw-bold"></span>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <label class="col-sm-4 col-form-label" asp-for="SiteDetailVM.BranchMiscInformation.FrequencyOfDailyMailingService"></label>
                                                        <div class="col-sm-8">
                                                            <div class="form-group">
                                                                <input type="number" class="form-control" asp-for="SiteDetailVM.BranchMiscInformation.FrequencyOfDailyMailingService" placeholder="Daily Mailing Service Frequency here...">
                                                            </div>
                                                            <span asp-validation-for="SiteDetailVM.BranchMiscInformation.FrequencyOfDailyMailingService" class="text-danger fw-bold"></span>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <label class="col-sm-4 col-form-label" asp-for="SiteDetailVM.BranchMiscInformation.ElectricSupply"></label>
                                                        <div class="col-sm-8">
                                                            <div class="form-group">
                                                                <input type="text" class="form-control" asp-for="SiteDetailVM.BranchMiscInformation.ElectricSupply" placeholder="Electric Supply here...">
                                                            </div>
                                                            <span asp-validation-for="SiteDetailVM.BranchMiscInformation.ElectricSupply" class="text-danger fw-bold"></span>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <label class="col-sm-4 col-form-label" asp-for="SiteDetailVM.BranchMiscInformation.WaterSupply"></label>
                                                        <div class="col-sm-8">
                                                            <div class="form-group">
                                                                <input type="text" class="form-control" asp-for="SiteDetailVM.BranchMiscInformation.WaterSupply" placeholder="Water Supply here...">
                                                            </div>
                                                            <span asp-validation-for="SiteDetailVM.BranchMiscInformation.WaterSupply" class="text-danger fw-bold"></span>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <label class="col-sm-4 col-form-label" asp-for="SiteDetailVM.BranchMiscInformation.BranchOpenDate"></label>
                                                        <div class="col-sm-8">
                                                            <div class="form-group">
                                                                <input type="date" class="form-control" asp-for="SiteDetailVM.BranchMiscInformation.BranchOpenDate">
                                                            </div>
                                                            <span asp-validation-for="SiteDetailVM.BranchMiscInformation.BranchOpenDate" class="text-danger fw-bold"></span>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <label class="col-sm-4 col-form-label" asp-for="SiteDetailVM.BranchMiscInformation.NoOfTellerCounters"></label>
                                                        <div class="col-sm-8">
                                                            <div class="form-group">
                                                                <input type="number" class="form-control" asp-for="SiteDetailVM.BranchMiscInformation.NoOfTellerCounters" placeholder="Number of Teller Counters here...">
                                                            </div>
                                                            <span asp-validation-for="SiteDetailVM.BranchMiscInformation.NoOfTellerCounters" class="text-danger fw-bold"></span>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <label class="col-sm-4 col-form-label" asp-for="SiteDetailVM.BranchMiscInformation.NoOfTCRMachines"></label>
                                                        <div class="col-sm-8">
                                                            <div class="form-group">
                                                                <input type="number" class="form-control" asp-for="SiteDetailVM.BranchMiscInformation.NoOfTCRMachines" placeholder="Number of TCR Machines here...">
                                                            </div>
                                                            <span asp-validation-for="SiteDetailVM.BranchMiscInformation.NoOfTCRMachines" class="text-danger fw-bold"></span>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <label class="col-sm-4 col-form-label" asp-for="SiteDetailVM.BranchMiscInformation.NoOfTotem"></label>
                                                        <div class="col-sm-8">
                                                            <div class="form-group">
                                                                <input type="number" class="form-control" asp-for="SiteDetailVM.BranchMiscInformation.NoOfTotem" placeholder="Number of Totem here...">
                                                            </div>
                                                            <span asp-validation-for="SiteDetailVM.BranchMiscInformation.NoOfTotem" class="text-danger fw-bold"></span>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!-- Second Column -->
                                                <div class="col-md-4">
                                                    <div class="row">
                                                        <label class="col-sm-4 col-form-label" asp-for="SiteDetailVM.BranchMiscInformation.NoOfSalesManagerOffices"></label>
                                                        <div class="col-sm-8">
                                                            <div class="form-group">
                                                                <input type="number" class="form-control" asp-for="SiteDetailVM.BranchMiscInformation.NoOfSalesManagerOffices" placeholder="Number of Sales Manager Offices here...">
                                                            </div>
                                                            <span asp-validation-for="SiteDetailVM.BranchMiscInformation.NoOfSalesManagerOffices" class="text-danger fw-bold"></span>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <label class="col-sm-4 col-form-label" asp-for="SiteDetailVM.BranchMiscInformation.ContractStartDate"></label>
                                                        <div class="col-sm-8">
                                                            <div class="form-group">
                                                                <input type="date" class="form-control" asp-for="SiteDetailVM.BranchMiscInformation.ContractStartDate">
                                                            </div>
                                                            <span asp-validation-for="SiteDetailVM.BranchMiscInformation.ContractStartDate" class="text-danger fw-bold"></span>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <label class="col-sm-4 col-form-label" asp-for="SiteDetailVM.BranchMiscInformation.ContractEndDate"></label>
                                                        <div class="col-sm-8">
                                                            <div class="form-group">
                                                                <input type="date" class="form-control" asp-for="SiteDetailVM.BranchMiscInformation.ContractEndDate">
                                                            </div>
                                                            <span asp-validation-for="SiteDetailVM.BranchMiscInformation.ContractEndDate" class="text-danger fw-bold"></span>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <label class="col-sm-4 col-form-label" asp-for="SiteDetailVM.BranchMiscInformation.RenovationRetouchDate"></label>
                                                        <div class="col-sm-8">
                                                            <div class="form-group">
                                                                <input type="date" class="form-control" asp-for="SiteDetailVM.BranchMiscInformation.RenovationRetouchDate">
                                                            </div>
                                                            <span asp-validation-for="SiteDetailVM.BranchMiscInformation.RenovationRetouchDate" class="text-danger fw-bold"></span>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <label class="col-sm-4 col-form-label" asp-for="SiteDetailVM.BranchMiscInformation.NoOfRenovationRetouchTime"></label>
                                                        <div class="col-sm-8">
                                                            <div class="form-group">
                                                                <input type="number" class="form-control" asp-for="SiteDetailVM.BranchMiscInformation.NoOfRenovationRetouchTime" placeholder="Number of Renovation Retouch Time here...">
                                                            </div>
                                                            <span asp-validation-for="SiteDetailVM.BranchMiscInformation.NoOfRenovationRetouchTime" class="text-danger fw-bold"></span>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <label class="col-sm-4 col-form-label" asp-for="SiteDetailVM.BranchMiscInformation.NoOfTeaBoys"></label>
                                                        <div class="col-sm-8">
                                                            <div class="form-group">
                                                                <input type="number" class="form-control" asp-for="SiteDetailVM.BranchMiscInformation.NoOfTeaBoys" placeholder="Number of Tea Boys here...">
                                                            </div>
                                                            <span asp-validation-for="SiteDetailVM.BranchMiscInformation.NoOfTeaBoys" class="text-danger fw-bold"></span>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <label class="col-sm-4 col-form-label" asp-for="SiteDetailVM.BranchMiscInformation.FrequencyOfMonthlyCleaningService"></label>
                                                        <div class="col-sm-8">
                                                            <div class="form-group">
                                                                <input type="number" class="form-control" asp-for="SiteDetailVM.BranchMiscInformation.FrequencyOfMonthlyCleaningService" placeholder="Monthly Cleaning Service Frequency here...">
                                                            </div>
                                                            <span asp-validation-for="SiteDetailVM.BranchMiscInformation.FrequencyOfMonthlyCleaningService" class="text-danger fw-bold"></span>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!-- Third Column -->
                                                <div class="col-md-4">
                                                    <div class="row">
                                                        <label class="col-sm-2 col-form-label" asp-for="SiteDetailVM.BranchMiscInformation.DrainSewerage"></label>
                                                        <div class="col-sm-10">
                                                            <div class="form-group">
                                                                <input type="text" class="form-control" asp-for="SiteDetailVM.BranchMiscInformation.DrainSewerage" placeholder="Drain/Sewerage here...">
                                                            </div>
                                                            <span asp-validation-for="SiteDetailVM.BranchMiscInformation.DrainSewerage" class="text-danger fw-bold"></span>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <label class="col-sm-2 col-form-label" asp-for="SiteDetailVM.BranchMiscInformation.CashCounterType"></label>
                                                        <div class="col-sm-10">
                                                            <div class="form-group">
                                                                <input type="text" class="form-control" asp-for="SiteDetailVM.BranchMiscInformation.CashCounterType" placeholder="Cash Counter here...">
                                                            </div>
                                                            <span asp-validation-for="SiteDetailVM.BranchMiscInformation.CashCounterType" class="text-danger fw-bold"></span>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <label class="col-sm-2 col-form-label" asp-for="SiteDetailVM.BranchMiscInformation.TellersCounter"></label>
                                                        <div class="col-sm-10">
                                                            <div class="form-group">
                                                                <input type="text" class="form-control" asp-for="SiteDetailVM.BranchMiscInformation.TellersCounter" placeholder="Tellers Counter here...">
                                                            </div>
                                                            <span asp-validation-for="SiteDetailVM.BranchMiscInformation.TellersCounter" class="text-danger fw-bold"></span>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <label class="col-sm-2 col-form-label" asp-for="SiteDetailVM.BranchMiscInformation.NoOfAffluentRelationshipManagerOffices"></label>
                                                        <div class="col-sm-10">
                                                            <div class="form-group">
                                                                <input type="text" class="form-control" asp-for="SiteDetailVM.BranchMiscInformation.NoOfAffluentRelationshipManagerOffices" placeholder="Number Of Affluent Relationship Manager Offices here...">
                                                            </div>
                                                            <span asp-validation-for="SiteDetailVM.BranchMiscInformation.NoOfAffluentRelationshipManagerOffices" class="text-danger fw-bold"></span>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="form-check form-check-inline">
                                                            <label class="form-check-label">
                                                                <input class="form-check-input" type="checkbox" asp-for="SiteDetailVM.BranchMiscInformation.LeasedOwBuilding">
                                                                <label asp-for="SiteDetailVM.BranchMiscInformation.LeasedOwBuilding"></label>
                                                                <span class="form-check-sign">
                                                                    <span class="check"></span>
                                                                </span>
                                                            </label>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="form-check form-check-inline">
                                                            <label class="form-check-label">
                                                                <input class="form-check-input" type="checkbox" asp-for="SiteDetailVM.BranchMiscInformation.CentralAC">
                                                                <label asp-for="SiteDetailVM.BranchMiscInformation.CentralAC"></label>
                                                                <span class="form-check-sign">
                                                                    <span class="check"></span>
                                                                </span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="form-check form-check-inline">
                                                            <label class="form-check-label">
                                                                <input class="form-check-input" type="checkbox" asp-for="SiteDetailVM.BranchMiscInformation.SplitAC">
                                                                <label asp-for="SiteDetailVM.BranchMiscInformation.SplitAC"></label>
                                                                <span class="form-check-sign">
                                                                    <span class="check"></span>
                                                                </span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="form-check form-check-inline">
                                                            <label class="form-check-label">
                                                                <input class="form-check-input" type="checkbox" asp-for="SiteDetailVM.BranchMiscInformation.WindowAC">
                                                                <label asp-for="SiteDetailVM.BranchMiscInformation.WindowAC"></label>
                                                                <span class="form-check-sign">
                                                                    <span class="check"></span>
                                                                </span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="form-check form-check-inline">
                                                            <label class="form-check-label">
                                                                <input class="form-check-input" type="checkbox" asp-for="SiteDetailVM.BranchMiscInformation.ExistVIPSection">
                                                                <label asp-for="SiteDetailVM.BranchMiscInformation.ExistVIPSection"></label>
                                                                <span class="form-check-sign">
                                                                    <span class="check"></span>
                                                                </span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="form-check form-check-inline">
                                                            <label class="form-check-label">
                                                                <input class="form-check-input" type="checkbox" asp-for="SiteDetailVM.BranchMiscInformation.SeparateVIPSection">
                                                                <label asp-for="SiteDetailVM.BranchMiscInformation.SeparateVIPSection"></label>
                                                                <span class="form-check-sign">
                                                                    <span class="check"></span>
                                                                </span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="timeline-inverted">
            <div class="timeline-badge success">
                <i class="material-icons">send</i>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <span class="badge badge-pill badge-success">Site Details Submission</span>
                </div>
                <div class="timeline-body">
                    <button type="submit" class="btn btn-success btn-round"> <i class="material-icons">drive_file_rename_outline</i> Update Site</button>
                    <a asp-page="/SiteImageUploader" asp-route-siteId="@Model.SiteDetailVM.SiteID" type="button" class="btn btn-primary btn-round"><i class="material-icons">photo_library</i> Edit Site Pictures</a>
                    <a asp-page="/ManageSiteDetails" type="button" class="btn btn-info btn-round"><i class="material-icons">assignment_return</i> Back to All Sites</a>
                </div>
            </div>
        </li>
    </ul>
</form>

@section scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/plugins/leaflet/leaflet.js"></script>
    <script>
        var selectedSponsorId = @(Model?.SiteDetailVM?.SponsorID ?? 0);
        var selectedRegionId = @(Model?.SiteDetailVM?.RegionID ?? 0);
        var selectedCityId = @(Model?.SiteDetailVM?.CityID ?? 0);
        var selectedLocationId = @(Model?.SiteDetailVM?.LocationID ?? 0);
        var selectedContactId = @(Model?.SiteDetailVM?.ContactID ?? 0);
        var selectedSiteTypeId = @(Model?.SiteDetailVM?.SiteTypeID ?? 0);
        var selectedBranchTypeId = @(Model?.SiteDetailVM?.BranchTypeId ?? 0);
        const groupedData = @Html.Raw(Json.Serialize(Model.SponsorsList));
    </script>
    <script src="~/js/edit-site-details.js" asp-append-version="true"></script>
}
