@page
@using Spider_QAMS.Models.ViewModels
@model Spider_QAMS.Pages.SiteImageUploaderModel
@{
    ViewData["Title"] = "Site Pictures Uploader";
    TempData["NavigationalPageName"] = "Site Pictures Uploader";
}

<head>
    <link rel="stylesheet" href="~/plugins/lightbox2/css/lightbox.min.css" />
</head>

<form id="imageUploadForm">
    @Html.AntiForgeryToken()
    <div class="col">
        <!-- Dropdown for selecting category -->
        <div class="row d-flex justify-content-between">
            <div class="col-auto">
                <div class="row">
                    <label class="col-sm-6 col-form-label" for="categorySelect">Select Image Category</label>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <select id="categorySelect" data-size="5" class="selectpicker" data-style="btn btn-primary btn-round" title="Choose Picture Category">
                                <option value="" disabled selected> -- Select Picture Category -- </option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-auto text-right">
                <a asp-page="/EditSiteDetails" asp-route-siteId="@Model.SiteImageUploaderVM.SiteId" type="button" class="btn btn-warning btn-round">
                    <i class="material-icons">drive_file_rename_outline</i> Edit Site
                </a>
            </div>
        </div>

        <!-- Image upload sections container -->
        <div id="imageUploadSection" class="row"></div>

        <!-- Buttons for deletion confirmation -->
        <div class="row d-flex justify-content-center align-items-center mt-4">
            <div class="w-100 justify-content-around">
                <button id="submitButton" class="btn btn-success btn-round"> <i class="material-icons">photo_library</i> Submit All Images</button>
                <a asp-page="/ManageSiteDetails" type="button" class="btn btn-info btn-round"><i class="material-icons">assignment_return</i> Back to All Sites</a>
            </div>
        </div>
    </div>
</form>

@section scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        const sitePicCategories = @Html.Raw(Json.Serialize(Model.SitePicCategories)); 
        const existingImages = @Html.Raw(Json.Serialize(Model.SiteImageUploaderVM.SitePicCategoryList));
        const siteId = @Model.SiteImageUploaderVM.SiteId;
        const uploadUrl = '@Url.Page(null)';
    </script>
    <script src="~/plugins/lightbox2/js/lightbox.min.js"></script>
    <script src="~/js/site-image-uploader.js" asp-append-version="true"></script>
}