@page
@model Spider_QAMS.Pages.ViewUserProfileModel
@{
    ViewData["Title"] = "View User Profile";
    TempData["NavigationalPageName"] = "View User Profile";
    int @categoryCount = 0;
}

<div class="row d-flex justify-content-center">
    <div class="col-md-9">
        <form>
            <div class="card card-profile">
                <div class="card-avatar position-relative d-inline-block">
                    <a href="#pablo">
                        <img id="profilePicturePreview" src="@Model.CurrentUserDetailsData.ProfilePictureFile" class="img" alt="Profile Picture" />
                    </a>
                </div>
                <div class="card-body">
                    <h4 class="card-title">@Model.CurrentUserDetailsData.FullName</h4>
                    <p class="card-description">
                        @Model.CurrentUserDetailsData.UserName (@Model.CurrentUserDetailsData.EmailID)
                    </p>

                    <!-- Validation Summary -->
                    <div asp-validation-summary="All" class="text-danger fw-bold"></div>

                    <div class="row align-items-center">
                        <!-- Aligns items vertically centered -->
                        <div class="col-auto">
                            <!-- Icon container -->
                            <div class="input-group-prepend">
                                <span class="input-group-text" style="padding: 1rem;">
                                    <!-- Ensures consistent spacing -->
                                    <i class="material-icons" style="font-size: 2rem;">title</i> <!-- Larger icon size -->
                                </span>
                            </div>
                        </div>
                        <div class="col">
                            <!-- Input field and label -->
                            <div class="form-group">
                                <label asp-for="CurrentUserDetailsData.Designation" class="bmd-label-floating" style="font-size: 0.9rem;">Designation</label>
                                <input type="text" class="form-control bmd" asp-for="CurrentUserDetailsData.Designation" disabled>
                                <span asp-validation-for="CurrentUserDetailsData.Designation" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row align-items-center">
                        <!-- Aligns items vertically centered -->
                        <div class="col-auto">
                            <!-- Icon container -->
                            <div class="input-group-prepend">
                                <span class="input-group-text" style="padding: 1rem;">
                                    <!-- Ensures consistent spacing -->
                                    <i class="material-icons" style="font-size: 2rem;">sell</i> <!-- Larger icon size -->
                                </span>
                            </div>
                        </div>
                        <div class="col">
                            <!-- Input field and label -->
                            <div class="form-group">
                                <label asp-for="CurrentUserDetailsData.FullName" class="bmd-label-floating" style="font-size: 0.9rem;">Full Name</label>
                                <input type="text" class="form-control bmd" asp-for="CurrentUserDetailsData.FullName" disabled>
                                <span asp-validation-for="CurrentUserDetailsData.FullName" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row align-items-center">
                        <!-- Aligns items vertically centered -->
                        <div class="col-auto">
                            <!-- Icon container -->
                            <div class="input-group-prepend">
                                <span class="input-group-text" style="padding: 1rem;">
                                    <!-- Ensures consistent spacing -->
                                    <i class="material-icons" style="font-size: 2rem;">email</i> <!-- Larger icon size -->
                                </span>
                            </div>
                        </div>
                        <div class="col">
                            <!-- Input field and label -->
                            <div class="form-group">
                                <label asp-for="CurrentUserDetailsData.EmailID" class="bmd-label-floating" style="font-size: 0.9rem;">Email</label>
                                <input type="email" class="form-control bmd" asp-for="CurrentUserDetailsData.EmailID" disabled>
                                <span asp-validation-for="CurrentUserDetailsData.EmailID" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row align-items-center">
                        <!-- Aligns items vertically centered -->
                        <div class="col-auto">
                            <!-- Icon container -->
                            <div class="input-group-prepend">
                                <span class="input-group-text" style="padding: 1rem;">
                                    <!-- Ensures consistent spacing -->
                                    <i class="material-icons" style="font-size: 2rem;">badge</i> <!-- Larger icon size -->
                                </span>
                            </div>
                        </div>
                        <div class="col">
                            <!-- Input field and label -->
                            <div class="form-group">
                                <label asp-for="CurrentUserDetailsData.UserName" class="bmd-label-floating" style="font-size: 0.9rem;">User Name</label>
                                <input type="text" class="form-control bmd" asp-for="CurrentUserDetailsData.UserName" disabled>
                                <span asp-validation-for="CurrentUserDetailsData.UserName" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row align-items-center">
                        <!-- Aligns items vertically centered -->
                        <div class="col-auto">
                            <!-- Icon container -->
                            <div class="input-group-prepend">
                                <span class="input-group-text" style="padding: 1rem;">
                                    <!-- Ensures consistent spacing -->
                                    <i class="material-icons" style="font-size: 2rem;">account_circle</i> <!-- Larger icon size -->
                                </span>
                            </div>
                        </div>
                        <div class="col-6">
                            <!-- Input field and label -->
                            <div class="form-group">
                                <label asp-for="CurrentUserDetailsData.ProfileSiteData.ProfileName" class="bmd-label-floating" style="font-size: 0.9rem;">Profile</label>
                                <select asp-for="CurrentUserDetailsData.ProfileSiteData.ProfileName" id="profileSelect" class="selectpicker form-control bmd" data-size="5" data-style="btn btn-primary btn-round" title="Select Profile">
                                    <option value="@Model.CurrentUserDetailsData.ProfileSiteData.ProfileName" data-profileid="@Model.CurrentUserDetailsData.ProfileSiteData.ProfileName" selected>@Model.CurrentUserDetailsData.ProfileSiteData.ProfileName</option>
                                </select>
                                <span asp-validation-for="CurrentUserDetailsData.ProfileSiteData.ProfileName" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <br />
                    <br />

                    <h5 class="info-text">User Status:</h5>
                    
                    <div class="row">
                        <!-- Active User Icon -->
                        <div class="col text-center">
                            <i class="material-icons"
                                style="font-size: 5rem; color: @(Model.CurrentUserDetailsData.IsActive ? "#e91e63" : "#ccc");">
                                account_circle
                            </i>
                            <p>Active User</p>
                        </div>

                        <!-- Active Directory User Icon -->
                        <div class="col text-center">
                            <i class="material-icons"
                                style="font-size: 5rem; color: @(Model.CurrentUserDetailsData.IsADUser ? "#e91e63" : "#ccc");">
                                cloud_done
                            </i>
                            <p>Active Directory User</p>
                        </div>
                    </div>

                </div>
                <div class="card-footer ml-auto mr-auto"></div>
            </div>
        </form>
    </div>

    <div class="col-md-9">
        <div class="card">
            <div class="card-header card-header-rose card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">category</i>
                </div>
                <h4 class="card-title">Categories Overview <span class="badge badge-pill badge-info">@Model.StructureData.Count</span></h4>
            </div>
            <div class="card-body">
                <div id="accordion" role="tablist">
                    @foreach (var category in Model.StructureData)
                    {
                        var categoryId = category.CategoryName.Replace(" ", "-"); // Unique ID for each category
                        <div class="card card-collapse">
                            <div class="card-header" role="tab" id="heading-@categoryId">
                                <h5 class="mb-0">
                                    <a data-toggle="collapse" href="#collapse-@categoryId" aria-expanded="false" aria-controls="collapse-@categoryId">
                                        <b>@category.CategoryName</b>
                                        <i class="material-icons">keyboard_arrow_down</i>
                                    </a>
                                </h5>
                            </div>

                            <div id="collapse-@categoryId" class="collapse" role="tabpanel" aria-labelledby="heading-@categoryId" data-parent="#accordion">
                                <div class="card-body">
                                    <ul class="nav d-flex flex-wrap align-items-center justify-content-center">
                                        @foreach (var pageSite in category.Pages)
                                        {
                                            <li class="nav-item col-3 p-2 my-1 mx-2 shadow rounded border border-default text-center">
                                                <a href="@pageSite.PageUrl" class="nav-link d-flex flex-column align-items-center justify-content-center text-primary" target="_self">
                                                    <i class="material-icons mb-2" style="font-size: 2rem;">outbound</i>
                                                    <p class="mb-0" style="font-size: 1rem; font-weight: bold;">@pageSite.PageDesc</p>
                                                </a>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="card-footer ml-auto mr-auto">
            </div>
        </div>
    </div>

    <div class="col-md-9">
        <div class="card">
            <div class="card-header card-header-rose card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">category</i>
                </div>
                <h4 class="card-title">All Pages Overview <span class="badge badge-pill badge-info">@Model.CurrentPageSites.Count</span></h4>
            </div>
            <div class="card-body" style="font-size: 1rem;">
                <ul class="d-flex flex-wrap p-0">
                    <!-- Populate pages here -->
                    @foreach (var pageSite in Model.CurrentPageSites)
                    {
                        <li class="nav-item p-2" style="flex: 1 0 30%; box-sizing: border-box; list-style: none;">
                            <a href="@pageSite.PageUrl" class="nav-link d-block text-center text-decoration-none" style="border: 1px solid #ddd; border-radius: 8px; transition: all 0.3s;">
                                <!-- Icon and Page Description -->
                                <i class="nav-icon material-icons my-2" style="font-size: 2rem;">outbound</i>
                                <p style="font-size: 1rem; font-weight: bold;">@pageSite.PageDesc</p>
                            </a>
                        </li>
                    }

                    <!-- Handle empty spaces when there are less than 3 items in the last row -->
                    @if (Model.CurrentPageSites.Count() % 3 == 2)
                    {
                        <li class="nav-item p-5" style="flex: 1 0 30%; box-sizing: border-box; list-style: none;"></li>
                    }
                    @if (Model.CurrentPageSites.Count() % 3 == 1)
                    {
                        <li class="nav-item p-5" style="flex: 1 0 30%; box-sizing: border-box; list-style: none;"></li>
                        <li class="nav-item p-5" style="flex: 1 0 30%; box-sizing: border-box; list-style: none;"></li>
                    }
                </ul>
            </div>
            <div class="card-footer ml-auto mr-auto">
            </div>
        </div>
    </div>
</div>

@section scripts {
    <partial name="_ValidationScriptsPartial" />
}
